<h1> <%= @carrier.brand_name %> </h1>

<dl>
  <dt>Razão Social:</dt>
  <dd> <%= @carrier.corporate_name %> </dd>
  <dt>Domínio de E-mail:</dt>
  <dd> <%= @carrier.email_domain %> </dd>
  <dt>CNPJ:</dt>
  <dd> <%= @carrier.registration_number %> </dd>
  <dt>Endereço:</dt>
  <dd> <%= @carrier.address %> </dd>
</dl>