<!-- <h1>Nova Consulta</h1>

<div>
  <% if @price_query.errors.any? %>
    <ul>
    <% @price_query.errors.full_messages.each do |mensagem| %>
      <li> <%= mensagem %>. </li>
    <% end %>
    </ul>
  <% end %>
</div>

<%= form_with(model: @price_query) do |f| %>
  <div>
    <%= f.label :height %>
    <%= f.number_field :height, step:0.01 %>
  </div>
  <div>
    <%= f.label :width %>
    <%= f.number_field :width, step:0.01 %>
  </div>
  <div>
    <%= f.label :length %>
    <%= f.number_field :length, step:0.01 %>
  </div>
  <div>
    <%= f.label :weight %>
    <%= f.number_field :weight, step:0.01 %>
  </div>
  <div>
    <%= f.label :distance %>
    <%= f.number_field :distance, step:0.01%>
  </div>
  <div>
    <%= f.submit 'Buscar' %>
  </div>
<% end %> -->