<!-- admins -->
<div><%= link_to 'Transportadoras', carriers_path %></div>
<div><%= link_to 'Consultas de Preço', price_queries_path %></div>

<!-- admins and users -->
<div><%= link_to 'Ordens de Serviço', orders_path%></div>
<!-- users-->
<div><%= link_to 'Veículos', vehicles_path %></div>
<div><%= link_to 'Tabela de Preços', prices_path %></div>
<div><%= link_to 'Tabela de Prazos', deadlines_path %></div>
