<h1>Tabela de Preços</h1>


<% if @prices.any? %>
  <table>
    <thead>
      <tr>
        <th>Volume (m³)</th>
        <th>Peso</th>
        <th>Valor por Km</th>
      <tr>
    </thead>
    <tbody>
      <% @prices.each do |price| %>
        <% if price.carrier_id == current_user.carrier_id %>
          <tr>
            <td> <%= price.min_volume %> a <%= price.max_volume %> m³</td>
            <td> <%= price.min_weight %> a <%= price.max_weight %> Kg</td>
            <td> R$ <%= price.price_km %> </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>  
  <p>Não existem preços cadastradas.</p>
<% end %>

<div>
  <%= link_to 'Voltar', root_path %>
</div>
<div>
  <%= link_to 'Cadastrar Preço', new_price_path %>
</div>